# Ignorar arquivos executáveis grandes do Terraform
terraform/.terraform/providers/registry.terraform.io/hashicorp/*/*/terraform-provider-*.exe

# Gradle cache directory
.gradle

# Gradle build output directory
build

# IntelliJ IDEA
/.idea/